*{
    padding: 0;
    margin: 0;
}
html,body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("gosling.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    padding: 10px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(223, 3, 252, 0.2);
    flex: 2;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
}
.chart{
    flex: 5;
    background-color: rgba(252, 3, 252, 0.2);
    overflow: hidden;
}
#canvas{


}
.inputs{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.borders{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
#draggable {
    flex: 1;
    background-color: rgba(181, 3, 252, 0.2);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
    padding: 5px;
    left: 20%;
    top: 100px;
    margin: 5px;
}